@mixin button-color($color: $light){
	background: $color;
	border-color: $color;
	color: white;

	&:not(:disabled):hover{
		background: lighten($color, 7%);
		border-color: lighten($color, 7%);
		color: white;
	}

	&:disabled{
		background: desaturate(lighten($color, 30%), 30%);
		border-color: desaturate(lighten($color, 30%), 30%);
		color: white;
		cursor: not-allowed;

		&:active{
			border-bottom-width: .2em;
			margin-bottom: 0;
			top: 0;
		}

		&:hover{
			background: desaturate(lighten($color, 30%), 30%);
			border-color: desaturate(lighten($color, 30%), 30%);
			color: white;
		}
	}
}

.btn{
	-webkit-touch-callout: none;
	border: 2px solid;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 700;
	padding: .5em 2%;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	@include button-color($medium);
	@include vendor-prefix(user-select, 'none');

	&:active{
		top: 2px;
	}

	&:focus{
		outline-offset: 1px;
		outline: 1px solid lighten($blue, 28%);
	}

	&.btn-mini{
		font-size: .6em;
		min-width: 2.6em;

		&.fontello{
			font-size: .63em;
		}
	}

	&.btn-primary{
		@include button-color($primary);
	}

	&.btn-green{
		@include button-color($green);
	}

	&.btn-blue{
		@include button-color($blue);
	}

	&.btn-yellow{
		@include button-color($yellow);
	}

	&.btn-red{
		@include button-color($red);
	}

	&.btn-dark{
		@include button-color($dark);
	}

	&.btn-inverted{
		@include button-color(white);

		background: transparent;

		&:not(:disabled):hover{
			background: transparent;
		}

		&:disabled{
			border-color: rgba(255, 255, 255, .25);
			color: rgba(255, 255, 255, .25);

			&:hover{
				border-color: rgba(255, 255, 255, .25);
				color: rgba(255, 255, 255, .25);
			}
		}
	}
}

@-moz-document url-prefix(){
	.btn{
		font-size: 1em;
	}
}
