@font-face{
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	src:
		url('../fonts/fontello/fontello.eot'),
		url('../fonts/fontello/fontello.woff2') format('woff2'),
		url('../fonts/fontello/fontello.woff') format('woff'),
		url('../fonts/fontello/fontello.ttf') format('truetype'),
		url('../fonts/fontello/fontello.svg#fontello') format('svg');
}
