@import "variables";
@import "breakpoints";
@import "grid";
@import "grid-framework";

@mixin vendor-prefix($name, $argument){
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin flexbox(){
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@keyframes rotate_cw{
	0%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(0)');
	}

	50%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(180deg)');
	}

	100%{
		@include vendor-prefix(transform-origin, 'center');
		@include vendor-prefix(transform, 'rotate(360deg)');
	}
}
