@import 'mixins';
@import 'buttons';
@import 'forms';
@import 'scaffolding';
@import 'fonts';

*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	@include vendor-prefix(box-sizing, 'border-box');
}

:root{
	color: $dark;
	font-family: system-ui, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: discretionary-ligatures;
	@include vendor-prefix(text-size-adjust, '100%');
	@include vendor-prefix(font-smoothing, 'antialiased');
}

.fr{
	float: right;
}

.fl{
	float: left;
}

.cb{
	clear: both;
}

.clearfix{
	zoom: 1;

	&:before,
	&:after{
		content: ' ';
		display: table;
	}

	&:after{
		clear: both;
	}
}

.wrapper{
	padding: 10px 10px 0;
}

.logo{
	background: url("../img/logo.png");
	height: 0;
	margin-bottom: .5em;
	overflow: hidden;
	padding: 40px 0 0;
	width: 311px;
}

.uiStuff{
	float: left;
	max-height: 100vh;
	position: relative;
	width: 400px;

	@media(max-width: $phone){
		position: static;
		width: 100%;
	}

	.well{
		background-image: url(../img/card_back.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 1.3em;
		height: 573px;
		margin-bottom: 1em;
		overflow: hidden;
		padding: 1em;
		text-align: center;
		width: 100%;
	}

	a{
		height: 573px;
		margin-bottom: 1em;
		width: 100%;
		display: block;
	}

	img{
		max-width: 100%;
		height: auto;
		border-radius: 1.3em;
	}
}

.fontello{
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
}

.badge{
	background: $medium;
	color: white;
	display: inline;
	font-size: .8em;
	font-weight: 900;
	padding: .07em .35em;
	vertical-align: text-top;

	&.badge-info{
		background: $primary;
	}
}

.overCard{
	bottom: 100px;
	position: relative;
	right: 1em;
	text-align: right;
	white-space: nowrap;

	> *{
		display: inline-block;
		vertical-align: top;
	}
}

#schemes{
	width: calc(100% - 400px);

	@media(max-width: $phone){
		width: 100%;
	}
}

#ongoing-schemes{
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 1;

	img{
		box-sizing: content-box;
		cursor: pointer;
		display: inline-block;
		padding: 0 2px;
		vertical-align: top;
		width: 40px;
		@include vendor-prefix(transition, 'width .5s');

		&:hover{
			width: 200px;
		}
	}
}

.tabs{
	display: inline-block;
	margin-bottom: 20px;
	padding-left: 10px;

	.tab{
		border-right: 1px solid $light;
		color: darken($light, 10%);
		cursor: pointer;
		display: inline-block;
		margin-right: 20px;
		padding-right: 20px;

		&:last-child{
			border: none;
		}

		&.active{
			color: $dark;
		}
	}
}

#card-filter{
	display: inline-block;
}

.tab-body{
	display: none;

	&.active{
		display: block;
	}
}

article{
	height: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;

	&.shown{
		height: auto;
		margin-bottom: 55px;
		opacity: 1;
		pointer-events: all;
	}
}

.columns{
	padding: 0 0 0 10px;
	transition: all .5s;

	&.disabled{
		div{
			cursor: not-allowed;
			opacity: .3;
			pointer-events: none;

			&.is-ongoing{
				cursor: default;
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	div{
		background: lighten($light, 5%);
		border: 1px solid $light;
		line-height: 1.1;
		margin: 10px;
		padding: 5px 5px 0;
		width: 205px;
	}

	input[type="checkbox"]{
		float: left;
		margin: 0 5px 2px 0;
		pointer-events: none;

		&:checked{
			~ label .desc{
				background: lighten($green, 32%);
			}

			+ input[type="checkbox"]:checked ~ label .desc{
				background: lighten($blue, 52%);
			}
		}
	}
}

label{
	cursor: pointer;
}

.text-info{
	color: $primary;
}

.instructionWrapper{
	position: relative;
	transition: left .5s, right .5s;

	h1{
		color: white;
		text-shadow: 1px 1px 0 rgba(black, .7);
	}
}

.title{
	color: lighten($dark, 5%);
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 3px;
	user-select: none;
}

.desc{
	background: lighten(yellow, 46%);
	border-top: 1px solid $light;
	color: lighten($dark, 5%);
	font-size: 10px;
	line-height: 15px;
	margin: 3px -5px 0;
	padding: 5px;
	position: relative;
	user-select: none;

	br{
		content: '';
		display: block;
		margin-bottom: .5em;
	}

	.cancel-ongoing{
		color: $red;
		position: absolute;
		right: 1em;
		top: .5em;
	}
}

.footer{
	background-color: $dark;
	bottom: 0;
	height: 40px;
	padding: 10px;
	position: fixed;
	width: 100%;

	p{
		color: $medium;
		float: left;
		font-size: 10px;
		line-height: 14px;
		width: 33.33%;
	}

	a{
		color: $light;
		display: block;
		float: right;
		font-size: 14px;
		font-weight: 200;
		margin-left: -20px;
		padding: 0 20px 10px;
		text-shadow: 0 -1px 0 rgba(black, .25);
	}
}
