//Variables
$blue: rgb(26, 126, 189);
$dark: rgb(31, 31, 31); //$dark: desaturate(darken($primary, 46%), 78%);
$green: rgb(82, 242, 89);
$light: rgb(236, 236, 236);
$medium: rgb(102, 102, 102);
$red: rgb(240, 57, 57);
$yellow: rgb(242, 240, 82);

$primary: $blue;

$desktop: 1120px;
$phone: 600px;
$tablet: 980px;

$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-gutter-widths: (
	lg: $grid-gutter-width,
	md: $grid-gutter-width,
	sm: $grid-gutter-width,
);

$grid-breakpoints: (
	lg: $desktop,
	md: $tablet,
	sm: $phone,
);

$container-max-widths: (
	lg: $desktop * .9375,
	md: $tablet * .9375,
	sm: $phone * .9375,
);
